.card:hover {
  background-color: #F8F8FF;
}

.original-price {
    text-decoration: line-through;
    color: #bababa;
    font-size: .8em;
}

.container {
  position: relative;
}

.box {
    position: relative;
    display: inline-block;
}

.text-block {
    position: absolute;
    z-index: 999;
    right: 0px;
    top: 0px;
    background-color:#FFA500;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}