.card:hover {
  background-color: #F8F8FF;
}

.original-price {
    text-decoration: line-through;
    color: #bababa;
    font-size: .8em;
}

.container {
  position: relative;
}

.text-block {
  position: absolute;
  right: 20px;
  background-color:#FFA500;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}